<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
    <title>Run 2 Testing</title>
</head>

<body>
    <div class="pageContainer">
        <header>
            <div class="headerContent">
                <div class="title">
                    Athena
                </div>
                <div class="topPane">
                </div>
                <nav>
                    <ul class="navMobile">
                        <li class="btn-about navMobile">
                            <i class="fas fa-info-circle"></i>
                        </li>
                        <li class="btn-login navMobile">
                            <i class="fas fa-sign-in-alt"></i>
                        </li>
                        <li class="btn-register navMobile">
                            <i class="fas fa-user"></i>
                        </li>
                        <li class="btn-create navMobile">
                            <i class="fas fa-plus-circle"></i>
                        </li>
                        <li class="btn-logout navMobile">
                            <i class="fas fa-sign-out-alt"></i>
                        </li>
                    </ul>
                    <ul class="navDesktop">
                        <li class="btn-about navDesktop">
                            About
                        </li>
                        <li class="btn-login navDesktop">
                            Login
                        </li>
                        <li class="btn-register navDesktop">
                            Register
                        </li>
                        <li class="btn-create navDesktop">
                            Create
                        </li>
                        <li class="btn-logout navDesktop">
                            Logout
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="contentContainer">
            <div id="mapOutput">
            </div>
            <div class="displaypane">
                <div class="displaypane-title">
                </div>
                <div class="displaypane-content">
                    <div id="info">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, expedita.
                    </div>
                    <form id="formLogin">
                        <label for="name">Name: </label>
                        <input class="userloginfield" id="loginname" type="text" name="name" placeholder="User name">
                        <span id="loginnameerr"></span>
                        <br>
                        <label for="password">Password: </label>
                        <input class="userloginfield" id="loginpass" type="password" name="password">
                        <span id="loginpasserr"></span>
                        <br>
                        <input type="submit" value="Login" id="loginbutton">
                    </form>
                    <form id="formRegister">
                        <label for="name">Name: </label>
                        <input class="userloginfield" id="regname" type="text" name="name" placeholder="User name">
                        <span id="regnameerror"></span>
                        <br>
                        <label for="name">Email: </label>
                        <input class="userloginfield" id="regemail" type="email" name="email" placeholder="Email address">
                        <span id="regemailerror"></span>
                        <br>
                        <label for="password">Password: </label>
                        <input class="userloginfield" id="regpass" type="password" name="password">
                        <span id="regpasserror"></span>
                        <br>
                        <label for="confirmpassword">Confirm Password: </label>
                        <input class="userloginfield" id="regconfirmpass" type="password" name="confirmpassword">
                        <br>
                        <input type="submit" value="Register" id="registerbutton">
                    </form>
                    <div id="chat">
                        <div id="chatHistory">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima optio totam dolorum debitis rem sit distinctio modi exercitationem?
                            Laudantium libero quas ab tenetur in, sit adipisci error quidem tempore nostrum, neque facilis?
                            Et, quam fugit, consectetur ut autem repellendus maxime placeat quaerat cum quae non veniam,
                            dolorum suscipit voluptatem culpa.
                        </div>
                        <input type="text" id="chatInput">
                        <button type="submit" id="btn-chatSend">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/js.cookie.js"></script>
    <script src="js/main.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeK4QLXB-YzLK6PwKHr5y4NPAquQXPBrU&callback=initMap"></script>
</body>

</html>