<label for="name">Name: </label>
<input class="userloginfield" id="profname" type="text" name="name" autocomplete="username" placeholder="User name">
<span id="profnameerror"></span>
<br>
<label for="name">Email: </label>
<input class="userloginfield" id="profemail" type="email" name="email" autocomplete="email" placeholder="Email address">
<span id="profemailerror"></span>
<br>
<label for="name">Profile Picture: </label>
<input class="userloginfield" id="profpic" type="url" name="profilepic" autocomplete="url" placeholder="http://">
<br>
<label for="oldpassword">Old Password: </label>
<input class="userloginfield" id="profoldpass" type="password" name="oldpassword" autocomplete="new-password">
<span id="profoldpasserror"></span>
<br>
<label for="password">Password: </label>
<input class="userloginfield" id="profpass" type="password" name="password" autocomplete="new-password">
<span id="profpasserror"></span>
<br>
<label for="confirmpassword">Confirm Password: </label>
<input class="userloginfield" id="profconfirmpass" type="password" name="confirmpassword">
<br>
<input type="submit" value="Update" id="updatebutton">