<label for="name">Name: </label>
<input class="userloginfield" id="regname" type="text" name="name" autocomplete="username" placeholder="User name">
<span id="regnameerror"></span>
<br>
<label for="name">Email: </label>
<input class="userloginfield" id="regemail" type="email" name="email" autocomplete="email" placeholder="Email address">
<span id="regemailerror"></span>
<br>
<label for="password">Password: </label>
<input class="userloginfield" id="regpass" type="password" name="password" autocomplete="new-password">
<span id="regpasserror"></span>
<br>
<label for="confirmpassword">Confirm Password: </label>
<input class="userloginfield" id="regconfirmpass" type="password" name="confirmpassword">
<br>
<input type="submit" value="Register" id="registerbutton">